<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

	<header th:layout="_header" xmlns:th="http://www.w3.org/1999/xhtml">
		<div class="container">
			<nav class="navbar navbar-expand-lg navbar-light bg-light">
				<a class="navbar-brand" href="/">Online SHOP</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse"
					data-target="#navbarSupportedContent"
					aria-controls="navbarSupportedContent" aria-expanded="false"
					aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarSupportedContent"
					xmlns:th="http://www.thymeleaf.org"
					xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
					<ul class="navbar-nav mr-auto">
						<li class="nav-item active"><a class="nav-link"
							th:href="@{/shoppingCart}">My Cart <span class="sr-only">(current)</span>
						</a></li>
						<th:block
							sec:authorize="hasAnyRole('ROLE_MANAGER','ROLE_EMPLOYEE')">
							<li><a class="nav-link" th:href="@{/admin/orderList}">
									Order List <span class="sr-only">(current)</span>
							</a></li>
						</th:block>
						<th:block sec:authorize="hasRole('ROLE_MANAGER')">
							<li><a class="nav-link" th:href="@{/admin/productList}">
									Create Product </a><span class="sr-only">(current)</span></li>
						</th:block>
					</ul>
					<form class="form-inline my-2 my-lg-0">
						<ul class="navbar-nav mr-auto">
							<th:block sec:authorize="!isAuthenticated()">
								<li class="nav-item active"><a class="nav-link"
									th:href="@{/login}">Login <span class="sr-only">(current)</span>
								</a></li>
							</th:block>
						</ul>
						<ul class="navbar-nav mr-auto">
							<th:block sec:authorize="isAuthenticated()">
								<li class="nav-item active"><a
									th:href="@{/admin/accountInfo}"
									th:utext="${#request.userPrincipal.name}">..</a> &nbsp;|&nbsp;
									<a th:href="@{/admin/logout}">Logout<span class="sr-only">(current)</span>
								</a></li>
							</th:block>
						</ul>
					</form>
				</div>
			</nav>
		</div>
		<div class="container">
		<div id="carouselExampleSlidesOnly" class="carousel slide"
		data-ride="carousel">
		<div class="carousel-inner">
			<div class="carousel-item active">
				<img class="d-block w-100"
					src="http://placehold.it/900x350"
					alt="First slide"  >
			</div>
			<div class="carousel-item">
				<img class="d-block w-100"
					src="http://placehold.it/900x350"
					alt="Second slide" >
			</div>
			<div class="carousel-item">
				<img class="d-block w-100"
					src="http://placehold.it/900x350"
					alt="Third slide" >
			</div>
		</div>
	</div>
	</div>
	
	</header>

</body>
</html>