<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.w3.org/1999/xhtml"
	layout:decorate="~{layoutAdmin/_layout}">
<head>
<meta charset="utf-8" />
<title>Account Info</title>
</head>

<body class="">
	<div class="wrapper ">
		<div layout:fragment="content">
			<div class="main-panel">
				<!-- End Navbar -->
				<div class="content">
					<div class="container-fluid">
						<div class="row">
							<div class="col-md-10">
								<div class="card">
									<div class="card-header card-header-primary">
										<h4 class="card-title">Show your profile</h4>
									</div>
									<div class="card-body">
										<form>
											<div class="row">
												<div class="col-md-6">
													<div class="form-group">
														<label class="bmd-label-floating">UserName </label> <input
															type="text" class="form-control"
															th:utext="${#request.userPrincipal.name}" disabled>
													</div>
												</div>
												<div class="col-md-6">
													<div class="form-group">
														<label class="bmd-label-floating">Role</label> <input
															type="text" class="form-control"
															th:each="auth : ${userDetails.authorities}"
															th:utext="${auth.authority}" disabled>
													</div>
												</div>
												<div class="clearfix"></div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>