<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.w3.org/1999/xhtml"
	layout:decorate="~{layoutAdmin/_layout}">
<head>
<meta charset="utf-8" />
<title>Product</title>
</head>

<body class="">
		<div class="wrapper ">
		<div layout:fragment="content" >
			<div class="main-panel">
				<div class="content">
					<div class="container-fluid">
						<div class="row">
							<div class="col-md-12">
								<div class="card">
									<div class="card-header card-header-primary">
										<h4 class="card-title ">Product</h4>
										<ul class="nav">
											<li class="nav-item "><a class="nav-link"><a>Product</a></li>
										</ul>
									</div>
									<div class="card-body">
										<div class="table-responsive">
											<table class="table">
												<thead class=" text-primary">
													<th>Image</th>
													<th>Code</th>
													<th>Name</th>
													<th>Price</th>
													<th>Action</th>
												</thead>
												<tbody>
													<tr th:each="productInfo : ${paginationProducts}">
													<!-- 	<td><img class="img-fluid"
															th:src="@{|/productImage?code=${productInfo.code}|}"
															height="50" width="75" /></td> -->
														<td th:utext="${productInfo.code}"></td>
														<td th:utext="${productInfo.name}"></td>
														<td th:utext="${productInfo.price}"></td>
														<td>< <a
																th:href="@{|/admin/editProduct?id=${productInfo.id}|}">
																<button class="btn btn-warning">
																	<i class="fa fa-pencil-square-o" aria-hidden="true"></i>
																</button>
															</a> <a
																th:href="@{|/admin/deleteProduct?id=${productInfo.id}|}">
																<button class="btn btn-danger">
																	<i class="fa fa-trash" aria-hidden="true"></i>
																</button>
															</a></td>
													</tr>

												</tbody>
											</table>
										</div>
									</div>
									<!-- <div class="page-navigator"
										th:if="${paginationProducts.totalPages > 1}">
										<th:block
											th:each="page : ${paginationProducts.navigationPages}">

											<a th:href="@{|/admin/productList?page=${page}|}"
												th:if="${page != -1}" class="nav-item" th:utext="${page}"></a>

											<span class="nav-item" th:if="${page == -1}"> ... </span>

										</th:block>
									</div> -->
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
