<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.w3.org/1999/xhtml"
	layout:decorate="~{layout/_layout}">
<head>
<meta charset="UTF-8">
<title>Books Shop Online</title>
</head>
<body>
	<!-- Page Content -->
	<div layout:fragment="content" class="container">


		<div class="container">
			<div class="card-body">
				
				<div class="row">
					<div class="col-sm-6 col-md-4 col-xl-3" style="margin: 20px 0px"
						th:each="prodInfo : ${paginationProducts}">
						<div class="card h-100">
							<img class="img-fluid"
								th:src="@{|/productImage?code=${prodInfo.code}|}"
								style="witdh: 250px; height: 250px;" />
							<div class="card-body">
								<p class="card-text">
									Code: <span th:utext="${prodInfo.code}"></span>
								</p>
								<p class="card-text">
									Name: <span th:utext="${prodInfo.name}"></span>
								</p>
								<p class="card-text">
									Price: <span
										th:utext="${#numbers.formatDecimal(prodInfo.price,3,2,'COMMA')}"></span>
								</p>
								<p class="card-text">
									<a th:href="@{|/buyProduct?code=${prodInfo.code}|}">Buy Now</a>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- /.row -->

			<!-- <div class="page-navigator"
			th:if="${paginationProducts.totalPages > 1}">
			<th:block th:each="page : ${paginationProducts.navigationPages}">

				<a th:href="@{|/home?page=${page}|}" th:if="${page != -1}"
					class="nav-item" th:utext="${page}"></a>

				<span class="nav-item" th:if="${page == -1}"> ... </span>

			</th:block>
		</div> -->

		</div>
	</div>
	<!-- /.container -->
</body>

</html>
