
<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>LOGIN</title>
<link rel="stylesheet" type="text/css" href="login.css">

<link
	href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	rel="stylesheet" id="bootstrap-css">
<script
	src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script
	src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<script src="https://code.jquery.com/jquery-2.1.0.min.js"></script>
</head>
<body>
	<!-- 	<th:block th:include="/_header"></th:block> -->
	<div id="formWrapper">

		<div id="form">
			<div class="logo">
				<h1 class="text-center head">The form</h1>
			</div>
			<br>
			<th:block
				th:if="${#session != null && #session.getAttribute('SPRING_SECURITY_LAST_EXCEPTION') != null}">
				<div th:if="${#request.getParameter('error') == 'true'}"
					style="color: red; margin: 10px 0px;">
					Login Failed!!!<br /> Reason : <span
						th:utext="${#session.getAttribute('SPRING_SECURITY_LAST_EXCEPTION').message}"></span>
				</div>
			</th:block>
			<form method="POST" th:action="@{/j_spring_security_check}">
				<div class="form-item">
					<p class="formLabel"></p>
					<input type="userName" name="userName" id="userName"
						class="form-style" autocomplete="off" placeholder="Username" />
				</div>
				<div class="form-item">
					<p class="formLabel"></p>
					<input type="password" name="password" id="password"
						class="form-style" placeholder="Password" />
					<!-- <div class="pw-view"><i clpass="fa fa-eye"></i></div> -->
				</div>

				<th:block sec:authorize="!isAuthenticated()">

					<a class="navi-item" th:href="@{/home}"><button type="button"
							class=" btn pull-left">Comeback</button></a>
				</th:block>


				<input type="submit" class="login pull-right" value="Login">
				<div class="clear-fix"></div>

			</form>
			<span class="error-message" th:utext="${error}"></span>
		</div>
	</div>
</body>
</html>