<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.w3.org/1999/xhtml" 
layout:decorate="~{layout/_layout}">>
<head>
<meta charset="UTF-8">
<title>Shopping Cart</title>
</head>
<body>
        <div layout:fragment="content" class="container">
      <div class="container"> 
        <th:block th:if="${cartForm == null || cartForm.cartLines == null || cartForm.cartLines.empty}">
         <h2>There is no items in Cart</h2>
         <a th:href="@{/}">Quay Lại Trang Chủ</a>
      </th:block>
       <th:block th:if="${cartForm != null && cartForm.cartLines != null && !cartForm.cartLines.empty}">
         <form method="POST" th:object="${cartForm}" th:action="@{/shoppingCart}">
               
	<div class="container mb-4">
		<div class="row">
			<div class="col-12">
			<div >
				<div class="table-responsive">
					<table class="table table-striped">
						<thead>
							<tr>
								<th scope="col"></th>
								<th scope="col">Product</th>
								<th scope="col">Available</th>
								<th scope="col" class="text-center">Quantity</th>
								<th scope="col" class="text-right">Price</th>
								<th></th>
							</tr>
						</thead>
						<tbody class="product-preview-container"
                        th:each="cartLineInfo, varStatus : ${cartForm.cartLines}">
							<tr>
								<td><img class="product-image"
                        th:src="@{|/productImage?code=${cartLineInfo.productInfo.code}|}" height="50" width="75" />
                       <!--  <img class="product-image" src="http://placehold.it/100x100"/> -->
								</td>
								<td> <span th:utext="${cartLineInfo.productInfo.code}"></span>
                        <input type="hidden"      
                           th:name="|cartLines[${varStatus.index}].productInfo.code|"                       
                           th:value="${cartLineInfo.productInfo.code}" />
</td>
								<td><span th:utext="${cartLineInfo.productInfo.name}"></span></td>
								<td><input
                            th:name="|cartLines[${varStatus.index}].quantity|"
                            th:value="${cartLineInfo.quantity}" /></td>
								<td class="text-right">                        <span class="price"
                           th:utext="${#numbers.formatDecimal(cartLineInfo.productInfo.price,3,2,'COMMA')}">
                        </span>
</td>
								<td class="text-right">
								  <a  th:href="@{|/shoppingCartRemoveProduct?code=${cartLineInfo.productInfo.code}|}">   
                        Delete
           
                        </a></td>
							</tr>
							 <tr>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td>Sub-Total</td>
								<td class="text-right"><span class="subtotal"
                           th:utext="${#numbers.formatDecimal(cartLineInfo.amount,3,2,'COMMA')}">
                        </span></td>
							</tr>
						</tbody>
					</table>
					</div>
				</div>
			</div>
			<div class="col mb-2">
				<div class="row">
					<div class="col-sm-12  col-md-6">
						<input class="button-update-sc" type="submit" value="Update Quantity" />
					</div>
					<div class="col-sm-12 col-md-6 text-right">
						<a class="navi-item" th:href="@{/shoppingCartCustomer}">Enter Customer Info</a>
            <a class="navi-item"
               th:href="@{/}">Continue Buy</a>
					</div>
				</div>
			</div>
		</div>
	</div>

</form>
</th:block>
</div>
</div>

</body>
</html>