<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.w3.org/1999/xhtml" 
layout:decorate="~{layout/_layout}">
   <head>
      <meta charset="UTF-8">
      <title>Shopping Cart Finalize</title>
      <link rel="stylesheet" type="text/css" th:href="@{/styles.css}">
   </head>
   <body>
   <div layout:fragment="content" class="container">
  
      <div class="container">
         <h1 style="text-align:center">Thank you for Order</h1>
         <h2 style="text-align:center">Your order number is: <span th:utext="${lastOrderedCart.orderNum}"></span></h2>
      </div>
      </div>
   </body>
</html>