.table{
	margin-left: 350px;
}

.table table-striped{
	margin-right: 150px;
}
.container{
	margin-left: 150px; 
}
.table2{
	margin-left: 500px; 
}
.center{
	margin-left: 400px;
}
/* .customer-info-container{
	margin-left: 300px;
} */